*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* side bar */

.sidebar{
  background-color: #040B15;
  width: 20%;
  height: 100%;
  position: fixed;
}

.avatar{
  margin: 20px 0;
  width: 40%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: solid #2F3042 10px;
}

.social-media-icon .fa{
  color: #FFF;
  background-color: #2F3042;
  text-decoration: none;
  width: 35px;
  height: 35px;
  font-size: 15px;
  padding: 10px;
  border-radius: 50%;
  margin: 10px 5px;
}

.social-media-icon i:hover{
  color: #288FC2;
}

.section-director a{
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
}

.section-director-icon{
  margin: 40px 20px;
}

.section-director-icon a:hover > i{
  color: #288FC2;
}

.copyright{
  color:#fff;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  font-size: 12px;
  text-align: center;
}

.container{
  margin-left: 20%;
  padding: 10px;
}

/* content */

hr.blue{
  margin: 20px 0;
  border: 2px solid #288FC2;
  width: 50px;
}

.container h1{
  color: #163B6B;
}

.container p{
  font-size: 18px;
  margin: 20px 0;
}

.profile{
  display: flex;
  justify-content: space-between;
}

.profile .describe{
  width: 65%;
}

.profile .describe h2{
  color:#163B6B;
  font-size: 25px;
}

.profile .describe .imformation{
  display: flex;
  justify-content: space-between;
}

/* resume */

.resume{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.resume-content .vr{
  padding-left: 15px;
  border: solid 2px transparent; 
  border-left: solid 2px #288FC2;  
}

.resume-content p, li{
  font-size: 14px;
  margin: 15px 0;
}

p.year{
  background-color: #E4EDF9;
  width: fit-content;
  padding: 5px 10px;
}

.resume h2{
  margin-bottom: 25px;
}

.resume-content h3{
  margin-left: 15px;
  text-transform: uppercase;
}

/* contact */

.contact-container{
  display: flex;
  justify-content: space-between;
}

.contact-container .col-left{
  height: 550px;
  width: 40%;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.contact-container .col-left .imformation{
  display: flex;
  margin-bottom: 50px;
}


.contact-container .col-left .imformation p{
  margin: 0px;
  font-size: 13.5px;
}

.contact-container .col-left .imformation h2{
  font-size: 20px;
}

.contact-container .col-left .imformation .fa{
  font-size: 25px;
  background-color: #E4EDF9;
  width: 40px;
  height: 40px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  color: #288FC2;
}

input[type=button]{
  background-color: #288FC2;
  color: #fff;
  width: fit-content;
  padding: 10px 15px;
  border: none;
  border-radius: 5%;
}

input[type=button]:hover{
  background-color: #163B6B;
}

input{
  font-size: 17.5px;
  padding: 10px 5px;
  margin: 10px 0;
}

.contact-container .col-right{
  height: 550px; 
  width: 57%;
  box-shadow: #000;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}
